.skills-container{
    background-color: #f7e5cc;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 50px ;
    width: 70%;
    margin-left: 15%;
    border: #f7e5cc 1px solid;
}
.one-skill{
    display: flex;
    margin: 20px;
    border: #f7e5cc 1px solid;
}
.skill-name{
  margin-top: 50px;
    
    width: 100px;
}
.circle {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0.5rem;
    border-radius: 50%;
    background: #FFCDB2;
    overflow: hidden;
  }
  .circle.per-1 {
    background-image: conic-gradient(#B5838D 1%, #FFCDB2 0);
  }
  .circle.per-3 {
    background-image: conic-gradient(#B5838D 3%, #FFCDB2 0);
  }
  .circle.per-10 {
    background-image: conic-gradient(#B5838D 10%, #FFCDB2 0);
  }
  .circle.per-20 {
    background-image: conic-gradient(#B5838D 20%, #FFCDB2 0);
  }
  .circle.per-25 {
    background-image: conic-gradient(#B5838D 25%, #FFCDB2 0);
  }
  .circle .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 115px;
    height: 115px;
    background: #000;
    border-radius: 50%;
    font-size: 1.85em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.75);
  }
 